include buttons

block table
    table.table
        thead
            tr
                th.col Id
                th.col Accordion
                th.col Autor
                th.col Data
                th.col Topic
                th.col Court
                th.col
        tbody
            each elem in table_data.results
                    tr
                        
                            td
                                a(href="/accordion/" + elem.id) #{elem.id}
                            td #{elem.Acordão}
                            td #{elem.Autor}
                            td #{elem.Data}
                            td #{elem.Tema}
                            td #{elem.Tribunal}
                            td.text-end
                                +favorite_button(elem.id, user.favorites)
                                if user.isAdmin
                                    +edit_button(elem.id)
                                    +delete_button(elem.id)


    block pagination
        include pagination
