mixin card_entry(key, value)
    - var has_value = value && value != ""
    if has_value
        h6.fw-normal
            p.fw-bold.d-inline #{key}: 
            p.d-inline #{value}

mixin make_labels(labels, id=undefined, hide=false)
    if labels
        - var sorted_labels = labels.sort()
            .mb-2
                if sorted_labels.length > 2 && hide
                    span.badge.bg-primary.me-1 #{sorted_labels.shift()}
                    span.badge.bg-primary.me-1 #{sorted_labels.shift()}
                    for label in sorted_labels
                        span.badge.bg-primary.me-1.collapse.rm-collapsing(id="collapse"+id)= label
                    btn.btn.text-primary.remove-border(type="button" data-bs-toggle="collapse" data-bs-target="#collapse"+id)
                        i.bi.bi-plus-circle.collapse.show.rm-collapsing(id="collapse"+id)
                        i.bi.bi-dash-circle.collapse.rm-collapsing(id="collapse"+id)
                else
                    for label in sorted_labels
                        span.badge.bg-primary.me-1= label

mixin add_input(key_key, key, key_value, value, options, textarea=false)
    .input-group.mb-3(id=key_key)
        select.form-select(name=key_key)
            option(value=key selected)= key
            for option in options
                if option != key
                    option(value=option)= option
            if textarea
                - var ncollums = Math.ceil(value.length / 125)
                textarea.form-control.w-65(name=key_value rows=ncollums)= value
            else
                input.form-control.w-65(name=key_value value=value)
        button.btn.btn-outline-danger(type="button" onclick="removeElementById('"+key_key+"')") 
            i.bi.bi-dash-lg

mixin add_acordao_elements_errors(old_elements, section, options, textarea=false)
    - var new_key_key, new_key_value
    for value, key in old_elements
        - var is_section = key.includes(section)
        if is_section
            - var is_key = key.split(".")[1] == "key"
            if is_key
                - new_key_key = "re"+key
                - new_key_value = value
            else
                - new_value_key = "re"+key
                +add_input(new_key_key, new_key_value, new_value_key, value, options, textarea=textarea)

mixin add_acordao_elements_old(oldAccordian, key_addon, options, textarea=false)
    - var new_key_key, new_value_key
    for value, key in oldAccordian
        - new_key_key = key + key_addon + ".key"
        - new_value_key = key + key_addon + ".value"
        - var is_section = options.includes(key) && value
        if is_section
            -var is_list = Array.isArray(value)
            if is_list
                -var cc = 0
                for list_value in value
                    - new_key_key = cc + new_key_key, new_value_key = cc + new_value_key, cc += 1
                    +add_input(new_key_key, key, new_value_key, list_value, options, textarea=textarea)
            else
                +add_input(new_key_key, key, new_value_key, value, options, textarea=textarea)

mixin make_input_groups(list, add_button_id, textarea=false)
    .d-grid.d-flex.justify-content-center(id=add_button_id)
        button.btn.btn-outline-primary.w-25(onclick="addElement("+list+",'"+add_button_id+"','"+textarea+"')" type="button")
            i.bi.bi-plus-circle

mixin input_labels(labels, old_labels)
    select.form-select(multiple name="labels" data-allow-new="true")
        option(value="" selected disabled hidden) Select a tag 
        for label in labels
            - var is_old = old_labels.includes(label)
            if is_old
                option(value=label selected)= label
            else
                option(value=label)= label
    .invalid-feedback
        | Please select a valid tag.

mixin labelLevel(level)
    if level == "Administrador"
        span.badge.rounded-pill.text-bg-danger Administrador
    else if level == "Produtor"
        span.badge.rounded-pill.text-bg-warning Produtor
    else if level == "Consumidor"
        span.badge.rounded-pill.text-bg-success Consumidor
    else
        span.badge.rounded-pill.text-bg-dark #{level}

mixin optionLevel(level)
    for option in ["Administrador", "Produtor", "Consumidor"]
        if option == level
            option(value=option selected)= option
        else
            option(value=option)= option
