include buttons

block table
    table.table
        thead
            tr
                th.col Username
                th.col Afiliation
                th.col level
                th.col Date Created
                th.col
        tbody
            each elem in table_data
                tr

                    td #{elem.username}
                    td #{elem.afiliation}
                    td #{elem.level}
                    td #{elem.dateCreated}
                    td.text-end
                        form(method="POST" action="/users/changePermissions").d-flex.justify-content-between
                            input(type="hidden" name="username" value=elem.username)
                            select(name="level" id="level")
                                option(value="Administrador") Administrador
                                option(value="Consumidor") Consumidor
                                option(value="Produtor") Produtor
                            button.btn.btn-primary(type="submit") Update




    //- block pagination
    //-     include pagination
